.App {
  margin: auto;
  width: 50%;

}
.myform {
  width: 100%;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 20px;
}
.formfield {
  width:100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  box-sizing: border-box;
}

.myButton {
  width:100%;
  background-color: green;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.myList {
  list-style: none;
}
.myListButton {
  display: inline-block;
  height: auto;
  width: auto;
  border-radius: 7px;
  border:1px solid green;
  margin: 1px 5px;
}